a,
.error {
  font-weight: bold;
}

footer,
a {
  color: #ffffff;
}

footer {
  width: 100%;
  background-color: #ef5350;
  position:fixed;
  bottom:0px;
  padding:5px;
  text-align: center;
  font-size: smaller;
}

a {
  text-decoration: none;
}

body{
    background-image: url(../images/pbBackround.jpg);
  }
  
  .infoText{
      text-indent: 2rem;
  }
  
  @media screen and (min-width: 500px) {
    .button {
        width: auto;
    }
    input {
        width: 80%!important;
        margin-right: 10px;
    }
    .form-flex {
        flex-direction: row;
    }
  }
  
  @media screen and (min-width: 768px) {
    .button {
        width: auto;
    }
    input {
        width: 40%!important;
        margin-right: 10px;
    }
    .form-flex {
        flex-direction: row;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
        width: 90%;
        margin: auto;
    }
  } 