body {
  background: black url("/images/pbBackround.jpg") no-repeat fixed center;
}

body,
input {
  font-family: 'Montserrat', sans-serif;  
  color:rgb(0, 0, 0);
 
}

footer {
  width: 100%;
  background-color: #ef5350;
  position:fixed;
  bottom:0;
  padding:5px;
  text-align: center;
  font-size: smaller;
}

.arrow {
  max-height: 10vh;
  opacity: 60%;
 background-color:transparent;
}


.card {
  margin: 5px;
  border-radius: 5%;
  padding: 5px;
  max-width: 10vw;
  text-align: center;
}

.card > img {
  margin: 10px;
}

#pokeSpriteImage {
  display:flex;
  justify-content: center;
}

#pokeSpriteImage img{
  max-height: 60vh;
  
}

.poke-stage img {
  max-height: 10vh;
  max-width: 10vw;
  
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}


#pokeInfoContainer {
  background-color: rgba(134, 133, 133, 0.842);
  border-radius: 20px;
  padding:15px;
  width: 75vw;
}

#pokeEvoContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#poke-evolution{
  display:flex;
  align-items: center;
}

h3 {
  text-align: center;
  color:white;
}

/*
body,
header,
main,
#poke-evolution,
.poke-stage,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}


body,
header,
main,
.card {
  flex-direction: column;
}


main {
  justify-content: flex-start;
  min-height: 10vh;
  margin-bottom: 10px;
}

footer,
a {
  color: #ffffff;
}




input {
  padding: 5px;

}

a,
.error {
  font-weight: bold;
}

a {
  text-decoration: none;
}



#logo {
  display: inline-block;
  height: 3em;
}

#poke-evolution {
  margin: 5vh;
}





.error {
  margin: auto 0;
}





#pokeEvoContainer {
  display:flex;
  justify-content: right;
  position:static;
}

#pokemonName {
  color: white;
  font-size: larger;
}

#arrow {
  width: 3vw;
}



nav {
  border-radius: 10px;
  background-color: rgba(241, 93, 93, 0.746);
}

#searchBoxContainer { 
  background-color: rgba(128, 128, 128, 0.808);
  align-self: center;
  align-items: center;
  padding: 70px;
  border-radius: 10px;
  display: flex;
}



form {
  margin: 0;
}

button {
  background-color: black;
  color:white;
  border-radius: 10px;
  
}

 */



.columns{
  display: flex;
}
.column{
  flex: 50%;
}