

a,
.error {
  font-weight: bold;
}

body {
  background: black url("/images/pbBackround.jpg") no-repeat fixed center;
}


body,
input {
  font-family: 'Montserrat', sans-serif;  
  color:rgb(0, 0, 0);
 
}


footer,
a {
  color: #ffffff;
}

footer {
  width: 100%;
  background-color: #ef5350;
  position:fixed;
  bottom:0;
  padding:5px;
  text-align: center;
  font-size: smaller;
}

a {
  text-decoration: none;
}

#pokeSpriteImage img{
  max-height: 40vh;
}

.poke-stage img {
  max-height: 12vh;
}


#logo {
  display: inline-block;
  height: 5em;
}

#poke-evolution {
  margin: 5vh;
}


.arrow {
  max-height: 15vh;
  opacity: 60%;
 background-color:transparent;
}

.poke-stage {
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  border-radius: 5%;
  padding: 5px;
}

.card > img {
  margin: 10px;
}

.error {
  margin: auto 0;
}

form {
  margin: 0;
}

#searchBoxContainer { 
  background-color: rgba(128, 128, 128, 0.808);
  align-self: center;
  align-items: center;
  padding: 70px;
  border-radius: 10px;
  display: flex;
}

#pokeInfoContainer {
  background-color: rgba(134, 133, 133, 0.842);
  border-radius: 20px;
}



.arrow {
  max-height: 5vh;
  opacity: 60%;
  background-color:transparent;
}


.card {
  margin: 30px;
  border-radius: 5%;
  padding: 5px;
  max-width: 10vw;
  text-align: center;
}

.card > img {
  margin: 10px;
}

#pokeSpriteImage {
  display:flex;
  justify-content: center;
}

#pokeSpriteImage img{
  max-height: 50vh;
  max-width: 50vw;
  
}

.poke-stage img {
  max-width: 40vw;
  
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}


#pokeInfoContainer {
  background-color: rgba(134, 133, 133, 0.842);
  border-radius: 20px;
  padding:15px;
  width: 70vw;
  margin-top: 50px;
}

#pokeEvoContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: rgba(85, 85, 85, 0.644);
  border-radius: 10px;
  padding: 10px;
}

#poke-evolution{
  display:flex;
  align-items: center;
}

h3 {
  text-align: center;
  color:white;
  background-color: grey;
  width: 40vw;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
}

#searchBtn {
  background-color: black;
  color:white;
  margin-left: 5px;
}

#pokemonName {
  color:white;
  font-size: xx-large;
  margin-left: 20px;
  margin-bottom: 10px;
}

#pokedexNumber {
  margin-left: 35px;
  font-weight: 900;
  color: rgb(226, 0, 0);
}

#pokemonBio {
  font-size: large;
  margin: 10px;
}

.column1{
  display: flex;
  margin-top: 30px;
  background-color: rgba(85, 85, 85, 0.644);
  border-radius: 10px;
}

h5 {
  padding:15px;
  color: white;
  font-weight: 600;
}

.column{
  color: rgb(255, 255, 255);
  padding:20px;
  font-weight:500;
  flex: 1%;
  background-color: grey;
}



#pokeSkillsContainer {
  display:flex;
  margin-top: 30px;
  background-color: rgba(85, 85, 85, 0.644);
  padding:10px;
  border-radius: 10px;
  justify-content: space-evenly;
}

#pokeAbilitiesContainer {
  padding-right: 20px;
  width:50%;
}

#pokeMovesContainer {
  padding-left: 20px;
  width:50%;
}

#pokeMovesContainer label{
  color:white;
  font-weight: 800;
}

#pokeAbilitiesContainer label{
  color:white;
  font-weight: 800;
}

#movesDetails {
  overflow: scroll;
  height:40vh;
  color:white;
  background-color: rgb(65, 65, 65);
  padding: 10px;
  border-radius: 5px;
}

#abilitiesDetails {
  overflow: scroll;
  height:40vh;
  color:white;
  background-color: rgb(65, 65, 65);
  padding: 10px;
  border-radius: 5px;
}

#pokemonType {
  color: white;
  font-weight: 500;
  margin-left: 50px;
}

#pokemonBio {
  background-color: rgba(255, 94, 94, 0.644);
  padding: 20px;
  border-radius: 40px;
  color:white;
}